<footer style="width: 100%; position: fixed; left:0; bottom: 0; background-color: gray">
    <div class="row">
        <div class="col-md-12">

            <div style="padding: 10px;">
                <div>
                    <h4 class="text-center" style="color: white">{{ selectedSong.name }}</h4>
                </div>
                <audio preload="auto" id="music-player" style="width: 100%" controls>
                    <source src="audio/duong-den-ngay-vinh-quang.mp3" type="audio/mp3">
                </audio>
            </div>
        </div>
    </div>
</footer>