<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>TO DO</title>
    <link href="../../css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet">
</head>
<html>

<body class="container" ng-app="myApp" ng-controller="myController">

<div class="page-header">
    <h1>To Do List</h1>
</div>

<form class="panel" ng-submit="addTask()">
    <div class="input-group">
        <input type="text" ng-model="inputText" class="form-control" placeholder="Add new task">
        <span class="input-group-btn">
            <input type="submit" value="Add New" class="btn btn-primary">
        </span>
    </div>

</form>
<hr/>

<div ng-repeat="x in tasks" style="margin-bottom: 8px">
    <input type="checkbox" ng-model="x.done" style="margin-right: 4px;">
    <span ng-bind="x.text"></span>
</div>
<br/>
<p>
    <button class="btn btn-default" ng-click="remove()">Remove marked</button>
</p>

<script src="../../js/angular/angular.js"></script>
<script>
    "use strict";
    var STORAGE_ID = 'tasks-angularjs';

    // define a class
    function Task(text, done) {
        // define properties
        this.text = text;
        this.done = done;
    }


    var app = angular.module('myApp', []);
    app.controller('myController', function ($scope) {
        $scope.tasks = JSON.parse(localStorage.getItem(STORAGE_ID) || '[]');

        $scope.addTask = function () {
            // create instance of class
            var task = new Task($scope.inputText, false);
            $scope.tasks.push(task);
            $scope.inputText = "";

            // save to localStorage
            localStorage.setItem(STORAGE_ID, JSON.stringify($scope.tasks));
        };

        $scope.remove = function () {
            var oldList = $scope.todoList;
            $scope.todoList = [];
            angular.forEach(oldList, function (x) {
                if (!x.done) $scope.todoList.push(x);
            });
        };
    });
</script>

</body>
</html>

