<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>T-SHOP</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="assets/ico/favicon.png">

    <!-- Bootstrap core CSS -->
    <link href="assets/bootstrap/css/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="assets/css/style.css" rel="stylesheet">

    <!-- Just for debugging purposes. -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!-- include pace script for automatic web page progress bar  -->
    <script>
        paceOptions = {
            elements: true
        };
    </script>
    <script src="assets/js/pace.min.js"></script>
</head>
<body ng-app="myApp" ng-controller="myController">

<div ng-include="'fixed-navigation-bar.html'"></div>

<div ng-include="'banner.html'"></div>

<div style="margin-top: 20px"></div>
<div class="container">
    <div class="row xsResponse">
        <div ng-repeat="p in products" class="item col-lg-3 col-md-3 col-sm-4 col-xs-6">
            <div class="product">
                <a class="add-fav tooltipHere" data-toggle="tooltip" data-original-title="Add to Wishlist" data-placement="left">
                    <i class="glyphicon glyphicon-heart"></i>
                </a>

                <div class="image">
                    <div class="quickview">
                        <a data-toggle="modal" class="btn btn-xs btn-quickview" ng-href="ajax/product.html" data-target="#productSetailsModalAjax">Quick View </a>
                    </div>
                    <a ng-href="details.html?id={{ p.id }}">
                        <img ng-src="{{ p.imageUrl }}" alt="img" class="img-responsive">
                    </a>

                    <div class="promotion"><span class="new-product"> NEW</span>
                        <span ng-if="p.discount > 0" class="discount">{{ p.discount | number }}% OFF</span>
                    </div>
                </div>
                <div class="description">
                    <h4><a href="product-details.html">{{ p.name }}</a></h4>
                    <p>{{ p.summary }}</p>
                    <span class="size">{{ p.size }}</span></div>
                <div class="price"><span>{{ p.price | currency }}</span></div>
                <div class="action-control">
                    <a class="btn btn-primary">
                        <span class="add2cart">
                            <i class="glyphicon glyphicon-shopping-cart"> </i> Add to cart
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-include="'footer.html'"></div>

<script src="shop.js"></script>
<script src="assets/data.js"></script>
<script src="../../js/angular/angular.js"></script>

<!-- Le javascript
================================================== -->

<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js">
</script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script>
    // this script required for subscribe modal
    $(window).load(function () {
        // full load
        $('#modalAds').modal('show');
        $('#modalAds').removeClass('hide');
    });

</script>

<!-- include jqueryCycle plugin -->
<script src="assets/js/jquery.cycle2.min.js"></script>

<!-- include easing plugin -->
<script src="assets/js/jquery.easing.1.3.js"></script>

<!-- include  parallax plugin -->
<script type="text/javascript" src="assets/js/jquery.parallax-1.1.js"></script>

<!-- optionally include helper plugins -->
<script type="text/javascript" src="assets/js/helper-plugins/jquery.mousewheel.min.js"></script>

<!-- include mCustomScrollbar plugin //Custom Scrollbar  -->

<script type="text/javascript" src="assets/js/jquery.mCustomScrollbar.js"></script>

<!-- include icheck plugin // customized checkboxes and radio buttons   -->
<script type="text/javascript" src="assets/plugins/icheck-1.x/icheck.min.js"></script>

<!-- include grid.js // for equal Div height  -->
<script src="assets/js/grids.js"></script>

<!-- include carousel slider plugin  -->
<script src="assets/js/owl.carousel.min.js"></script>

<!-- jQuery select2 // custom select   -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>

<!-- include touchspin.js // touch friendly input spinner component   -->
<script src="assets/js/bootstrap.touchspin.js"></script>

<!-- include custom script for only homepage  -->
<script src="assets/js/home.js"></script>
<!-- include custom script for site  -->
<script src="assets/js/script.js"></script>


<script>
    var app = angular.module("myApp", []);
    app.controller("myController", function ($scope) {
        $scope.products = products;
        $scope.menuItems = menuItems;
        $scope.siteSetting = siteSetting;
    })
</script>
</body>
</html>