<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ng-if</title>
</head>

<body ng-app="myApp" ng-controller="myController">

Keep HTML: <input type="checkbox" ng-model="myVar">

<div ng-if="myVar">
    <h1>Welcome</h1>
    <p>Welcome to my home.</p>
    <hr>
</div>

<p>The DIV element will be removed when the checkbox is not checked.</p>
<p>The DIV element will return, if you check the checkbox.</p>
<script type="text/javascript" src="../js/angular/angular.js"></script>
<script>
    var app = angular.module('myApp', []);
    app.controller('myController', function ($scope) {
        $scope.myVar = true;
    });
</script>
</body>
</html>
